body, html {
    background-color: var(--primary);
    /* max-height: 100vh;
    max-width: 100vw; */
    margin: 0;
    padding: 0;
}

/* ------------------ DEFAULT STYLING ------------------*/
#header {
    background-color: var(--header);
    width: 100vw;
    height: 15vh;
    margin: 0;
    padding: 0;
    /* top: 0;
    left: 0; */
}
#header-bar {
    width: 100vw;
    height: 1vh;
    /* bottom: 0; */
    background-color: var(--header-bar);
}
/* --- CALCULATOR OUTPUT --- */
#output-container {
    height: 10vh;
    line-height: 10vh;
    width: 90vw;
    margin: 10vh 5vw 5vh 5vw;
    border-bottom: 2px solid var(--secondary);
}
#output {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    float: right;
    text-align: right;
    font-size: 4vmax;
    overflow: visible;
    color: var(--secondary);
}
/* --- CALCULATOR INPUTS --- */
#grid-container {
    height: 50vh;
    margin: 7vh 5vw 0 5vw;
}
#calculator-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
    grid-template-rows: 18% 18% 18% 18% 18%;
    grid-column-gap: 2.5%;
    grid-row-gap: 2%;
    justify-content: center;
}
.button {
    font-size: 5vh;
    border-radius: 50vw;
}
.button:active {
    background-color: var(--btn-activefocus);
}
#button-zero {
    grid-column: 1 / span 2;
}
#button-equals {
    grid-column: 4;
    grid-row: span 2;
    background-color: var(--btn-operate);
    color: var(--header);
    border: 2px solid var(--header);
}
#button-equals:active {
    background-color: var(--btn-activefocus);
    border: 2px solid var(--secondary);
    color: var(--secondary);
}
.operator {
    background-color: var(--btn-operate);
    color: var(--header);
    border: 2px solid var(--header);
}
.operator:focus {
    background-color: var(--btn-activefocus);
    border: 2px solid var(--secondary);
    color: var(--secondary);
}
.number {
    background-color: var(--btn-number);
    color: var(--secondary);
    border: 2px solid var(--secondary);
}
.special {
    background-color: var(--btn-special);
    color: var(--secondary);
    border: 3px solid var(--btn-operate);
}

/* ------------------ MENU ------------------ */
#menu-icon {
    width: 10vmin;
    height: 10vmin;
    margin-top: 5vmin;
    margin-left: 5vmin;
    display: inline-block;
    background-image: url('../images/menu.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.menu-content {
    margin-left: 5vmin;
    display: none;
    position: absolute;
    background-color: var(--tabs);
    min-width: 25vmin;
    z-index: 1;
    border-radius: 1vmax;
}
.menu-content a {
    color: black;
    padding: 1vmax 2vmax;
    text-align: left;
    text-decoration: none;
    display: block;
    min-width: 25vmin;
    font-weight: bold;
    
}
.sub-dropdown {
    margin-left: 30vmin;
    display: none;
    position: absolute;
    background-color: var(--tabs);
    min-width: 25vmin;
    z-index: 1;
    border-radius: 1vmax;
}
.sub-dropdown a {
    color: black;
    padding: 1vmax 2vmax;
    text-align: left;
    text-decoration: none;
    display: block;
    min-width: 25vmin;
    font-weight: bold;
}
/* --- TOGGLE CLASS TO ROTATE MENU ICON --- */
.rotate-menu {
    transform: rotate(90deg);
}
/* --- TOGGLE CLASS TO DISPLAY MENU CONTENT --- */
.show {
    display:block;
}

/* ------------------ LOG MODAL ------------------ */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10vh;
    padding-bottom: 10vh;
    left: 0;
    top: 0;
    width: 100vw;
    height: 80vh;
    overflow-y: scroll;
    background-color: rgba(0,0,0,0.4);
  }
.modal-content {
    background-color: var(--modal);
    margin: auto;
    padding: 5%;
    width: 80vw;
    border-radius: 1vmax;
}
.close {
    color: var(--modal-table);
    float: right;
    font-size: 10vmin;
    font-weight: bold;
}
.close:focus {
    color: var(--modal-table);
    text-decoration: none;
    cursor: pointer;
}
#log-table {
    border-collapse: collapse;
    width: 80vw;
    border-radius: 2vmin;
} 
#log_table, th, td {
    color: var(--modal-table);
    border: 1px solid var(--modal-table);
    text-align: center;
    overflow: auto;
}
#log-table tr {
    height: 10vh;
}